<!-- Generic Table Component -->
<app-generic-table class="shelf-decision-rules-table"
  [data]="shelfDecisionRulesService.rules()"
  [config]="tableConfig"
  [loading]="shelfDecisionRulesService.isLoading()"
  [empty]="shelfDecisionRulesService.rules().length === 0"
  (action)="onTableAction($event)"
  (sortChange)="onSortChange($event)"
  (pageChange)="onPageChange($event)"
  (filterChange)="onFilterChange($event)">
</app-generic-table>

<!-- Custom Display Name Cell Template -->
<ng-template #displayNameCell let-data let-column="column">
  <span class="display-name" [matTooltip]="data.displayName">
    <mat-icon class="rule-icon">rule</mat-icon>
    {{ getCellValue(data, column) }}
  </span>
</ng-template>

<!-- Custom Actual Value Cell Template -->
<ng-template #actualValueCell let-data let-column="column">
  <span class="actual-value"
        [ngClass]="getValueClass(data.actualValue)"
        [matTooltip]="'Rule value: ' + data.actualValue">
    <mat-icon class="value-icon">calculate</mat-icon>
    {{ getCellValue(data, column) }}
  </span>
</ng-template>

<!-- Custom Description Cell Template -->
<ng-template #descriptionCell let-data let-column="column">
  <span class="description" [matTooltip]="data.description || 'No description'">
    {{ getCellValue(data, column) }}
  </span>
</ng-template>

<!-- Custom Status Cell Template -->
<ng-template #statusCell let-data let-column="column">
  <span class="status-badge"
        [ngClass]="getStatusClass(data.isActive)"
        [matTooltip]="'Status: ' + data.statusText">
    <mat-icon class="status-icon" *ngIf="data.isActive">check_circle</mat-icon>
    <mat-icon class="status-icon" *ngIf="!data.isActive">pause_circle</mat-icon>
    {{ getCellValue(data, column) }}
  </span>
</ng-template>

<!-- Custom Created Date Cell Template -->
<ng-template #createdDateCell let-data let-column="column">
  <span class="created-date" [matTooltip]="'Created: ' + data.createdDateDisplay">
    <mat-icon class="date-icon">event</mat-icon>
    {{ getCellValue(data, column) }}
  </span>
</ng-template>

<!-- Custom Updated Date Cell Template -->
<ng-template #updatedDateCell let-data let-column="column">
  <span class="updated-date" [matTooltip]="'Last updated: ' + data.updatedDateDisplay">
    <mat-icon class="date-icon">update</mat-icon>
    {{ getCellValue(data, column) }}
  </span>
</ng-template>